/*
 * Empty Stylesheet file.
 */

.mainFxmlClass 
{
    -fx-background-color: #7289da;
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Arial Black";
    -fx-text-fill: #23272a;
    -fx-opacity: 0.7;
}